body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  background-color: wheat;
}
#tooltip {
  height: 25px;
  width: 50px;
  padding: 4px;
  font-size: 2em;
  background-color: wheat;
  border: 5px solid black;
  color: black;
}
