body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

svg {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  border-radius: 15px;
}
#tooltip {
  height: 25px;
  width: 50px;
  padding: 4px;
  font-size: 2em;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  border: 5px solid black;
  border-radius: 15px;
  color: black;
}
#info {
  border: 2px solid black;
  border-radius: 15px;
}
a {
  border-bottom: 5px solid black;
}
.overlay {
  position: absolute;
  background: #fff;
  pointer-events: none;
}
.bar {
  background-color: black;
  fill: black;
}
.bar:hover {
  background-color: black;
  fill: white;
}
